<h3> Success Conditions: </h3>
<ul id="conditions">
  <script type='text/javascript'>
    add_success_conditions(this);
  </script>
</ul>
<%= link_to "Add Success Conditions", '#', onclick: 'add_success_conditions(this)' %> <br/>
